@tailwind base;
@tailwind components;
@tailwind utilities;

.bookmark-witch {
    background-image: url("../public/images/SeasonWitch003.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-size: 175px 200px;
}

.bookmark-ellory {
    background-image: url("../public/images/ellorymay.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-size: 175px 200px;
}

.bookmark-seer {
    background-image: url("../public/images/seer.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-size: 175px 200px;
}

.bookmark-text-witch {
    transform: rotate(-90deg);
    font-family: 'IM Fell English SC', serif;
}

.bookmark-text-ellory {
    transform: rotate(-90deg);
    font-family: 'Fredericka the Great', cursive;
}

.bookmark-text-seer {
    transform: rotate(-90deg);
    font-family: 'Mountains of Christmas', cursive;
}

.menu {
    font-family: 'IM Fell English SC', serif;
}

.excerpt {
    font-family: 'Ballet', cursive;
}

.poster {
    font-family: 'Creepster', cursive;
}

.tear {
    width: 50px;
    height: 50px;
    border-radius: 0 50% 50% 50%;
    border: 3px solid rgb(215, 46, 46);
    transform: rotate(45deg);
    margin-top: 20px;
    background-color: rgb(215, 46, 46);
  }